<html>
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0;minimum-scale=1.0;user-scalable=0;">
	<link rel="stylesheet" type="text/css" href="/css/chat.css">
	<!--引入font-awesome字体样式-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <script src="/js/socket.io-1.4.5.js"></script>
	<script src="/js/client.js" type="text/javascript" charset="utf-8" async></script>
</head>
<body>
   <div class="chat-login-panel">
           <h2>登陆聊天室</h2>
           <form name="login-box" method="post" >
                      <div class="form-group-item">
                               <input type="text" name="username" value='' class="txt" placeholder="please input your chat username!"/>
                      </div>
                      <div class="form-group-item">
                              <img  src="/images/avatar1.png?=<%=version%>"/>
                              <img  src="/images/avatar2.png?=<%=version%>"/>
                              <img  src="/images/avatar3.jpg?=<%=version%>"/>
                              <img  src="/images/avatar4.jpg?=<%=version%>"/>
                              <img  src="/images/avatar5.jpg?=<%=version%>"/>
                              <img  src="/images/avatar6.jpg?=<%=version%>"/>
                      </div>
                      <div class="form-group-item">
                                <span class="label"> 男性</span>
                                <input type="radio" checked="checked" id="sex-1" name="sex" value="male" />
                                <label for="sex-1" class="radio"></label>
                                <span class="label"> 女性</span>
                                <input type="radio" name="sex" value="female"  id="sex-2" />
                                <label for="sex-2" class="radio"></label>
                      </div>
                      <div class="form-group-item">
                              <input type="submit" value='进入' class="btn-submit"/>
                      </div>

           </form>
   </div>
    <!--聊天区域-->
    <div  class="chat-message-box">
         <div class="chat-message-title-bar">
            <h2>James Dean</h2>
            <div class="chat-message-title-tools">
                 <button type="button" class="btn btn-setting"></button>
                 <button type="button" class="btn btn-close"></button>
            </div>
         </div>
         <ul id="messages" class="chat-messages">
              <li class="chat-message chat-message-right">
                  <div class="chat-message-container">
                     I'd hate to be a teetotaler. Imagine getting up in the morning and knowing that's as good as you're going to feel all day.
                  </div>
                  <figure>
                    <img src="/images/avatar1.png" alt="john">
                  </figure>
              </li>
              <li class="chat-message chat-message-left">
                  <div class="chat-message-container">
                     I'd hate to be a teetotaler. Imagine getting up in the morning and knowing that's as good as you're going to feel all day.
                  </div>
                  <figure>
                    <img src="/images/avatar2.png" alt="john">
                  </figure>
              </li>
               <li class="chat-message chat-message-right">
                  <div class="chat-message-container">
                     I'd hate to be a teetotaler. Imagine getting up in the morning and knowing that's as good as you're going to feel all day.
                  </div>
                  <figure>
                    <img src="/images/avatar1.png" alt="john">
                  </figure>
              </li>
              <li class="chat-message chat-message-left">
                  <div class="chat-message-container">
                     I'd hate to be a teetotaler. Imagine getting up in the morning and knowing that's as good as you're going to feel all day.
                  </div>
                  <figure>
                    <img src="/images/avatar2.png" alt="john">
                  </figure>
              </li>
         </ul>
         <div class="chat-message-typing-box">
          <form action="" name="senbox" id="sendbox">
                <textarea name="" id="m" placeholder=" Type a message …"></textarea>
                <div class="chat-message-typing-tools">
                    <input type="submit" class="btn-submit" value="发送">
                    <!--<a href="javascript:void(0)" class="btn btn-camera">camera</a>
                    <a href="javascript:void(0)" class="btn btn-smile">simle</a>
                    <a href="javascript:void(0)" class="btn btn-share">share</a>-->
                </div>
          </form>
         </div>
    </div>
</body>
</html>